body {
    font-family: sans-serif;
    text-align: center;
}

.img {
    width: 550px;
    padding: 30px 10px 10px 10px;
    margin: auto;
    border: solid;
    border-radius: 10px;
    border-color: #e0d4bb;
    background-color: #fff7d0b3; 
}

img {
    border-radius: 10px;
}

